# NodeJS
node_modules

# Python
venv
.venv
__pycache__

# Terraform
*.tfstate*
*.tfvars
.terraform/
backend.tf

ecs/processed.yaml

# Cloud Code
**/.vscode

# Files that will be hydrated / populated via scripts
kubernetes/knative/overlays/*/patch.yaml
!kubernetes/knative/overlays/*/patch.yaml.dist
