- op: replace
  path: /spec/template/spec/containers/0/env
  value:
    - name: MICROSERVICES_ENV
      value: staging
    - name: FONT_COLOR_SVC
      valueFrom:
        secretKeyRef:
          key: latest
          name: msvc-staging-font_color_run_svc_url
    - name: FONT_SIZE_SVC
      valueFrom:
        secretKeyRef:
          key: latest
          name: msvc-staging-font_size_run_svc_url
    - name: WORD_SVC
      valueFrom:
        secretKeyRef:
          key: latest
          name: msvc-staging-word_run_svc_url
    - name: PUBSUB_EVENTS_TOPIC
      valueFrom:
        secretKeyRef:
          key: latest
          name: msvc-staging-pubsub_events_topic_name
- op: add
  path: /spec/template/spec/serviceAccountName
  # This will be set by a local provisioner in Terraform
  value: $FRONTEND_SERVICE_ACCOUNT_EMAIL
